<div class="container">
    <br>

    <div class="card" >
    <h2>Registrate</h2>
        <br>
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()" novalidate>

        <div class="form-group">
            <label for="name">Nombre y Apellido</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
        </div>

        <div class="form-group">
            <label for="celphone">Celular</label>
            <input type="number" class="form-control inpCorto" id="celphone" formControlName="celphone" required>
        </div>

        <div class="form-group" >
            <label for="email">Email</label>
            <div class="row" align="center">
                <input type="text" class="form-control inpCorto" id="email" formControlName="email" required><font size="5">@mail.escuelaing.edu.co</font>
            </div>
        </div>

        <div class="form-group">
            <label for="priority">Contraseña</label>
            <input type="password" class="form-control inpCorto" id="alterEgo" formControlName="password" required>
        </div>

        <div class="dropdown">
            <span class="styleA">Género: {{genero}}</span>
            <div class="dropdown-content">
                <a class="nav-link" (click)="saveGender('femenino')" >Femenino</a>
                <a class="nav-link" (click)="saveGender('masculino')" >Masculino</a>
            </div>
        </div>
        <hr>

        <button type="submit" class="styleA" [disabled]="!signUpForm.valid">Registrate</button>

    </form>
</div>
</div>