
.row{
    padding: 20px 20px 20px 20px;
}


.card{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.styleA{
    background-color: white;
    color: #0e6ebe;
    padding: 4px 4px;
    text-aling: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.9s;
        cursor: pointer;

}

.styleA:hover {
    background-color: #0e6ebe;
    color: white;

}


.styleB{
    background-color: #41E83B;
    color: white;
    padding: 8px 30px;
    text-aling: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.9s;
        cursor: pointer;

}

.styleB:hover {
    background-color: #95F392;
    color: #0e6ebe;
}


