<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div *ngFor="let misSol of solicitudes" class="col-xs-12 col-xs-3">
            <div class="card"  style="width:1300px">
                <div class="row ">
                    <div class="col-sm-4">
                        <font size="4"><font size="3" color="grey">Código del prestamo: </font>{{misSol.id}}</font>
                        <br>
                        <font size="4">{{misSol.objetoOfrecido.objeto_ofrecido.name}}</font>
                        <br>
                        <img class="category" src="{{misSol.objetoOfrecido.objeto_ofrecido.image}}" width="100px" height="100px">
                        <hr>
                        <font size="4">{{misSol.objetoOfrecido.descripcion}}</font>
                        <hr>
                        <font size="4"><font size="3" color="grey">Precio: </font>${{misSol.objetoOfrecido.precio}} COP</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Dia: </font>{{misSol.horariosDisponibles.dia}}</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Desde: </font> {{misSol.horariosDisponibles.hora_inicio}}</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Hasta: </font> {{misSol.horariosDisponibles.hora_fin}}</font>
                        <div *ngIf="misSol.aceptado">
                            <font size="5" color="blue">Solicitud Terminada</font>

                        </div>
                        <div *ngIf="!misSol.aceptado">
                            <font size="5" color="red">Solicitud en proceso</font>
                            <br>
                            <a class="styleA" (click)="aprobarPrestamo(misSol.id)" routerLinkActive="/home" routerLink="/home">Cerrar proceso</a>
                        </div>

                    </div>
                    <div  class="col-sm-4">
                        <font size="5" color="orange">Prestador</font>
                        <br>
                        <img class="category" src="/assets/generos/{{misSol.prestador.genero}}.svg" width="100px" height="100px">
                        <br>
                        <font size="4"><font size="3" color="grey">Nombre: </font> {{misSol.prestador.name}}</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Email: </font> {{misSol.prestador.email}}</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Cel: </font> {{misSol.prestador.celular}}</font>
                        <br>
                        <img class="category" src="/assets/estrellas/{{misSol.prestador.calificacion}}.png" width="200px" height="40px">
                        <br>
                        <font size="1">Número de opiniones: {{misSol.prestador.numeroDeOpiniones}}</font>

                    </div>

                    <div class="col-sm-4">

                        <font size="5" color="orange">Solicitante</font>
                        <br>
                        <img class="category" src="/assets/generos/{{misSol.solicitante.genero}}.svg" width="100px" height="100px">
                        <br>
                        <font size="4"><font size="3" color="grey">Nombre: </font> {{misSol.solicitante.name}}</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Email: </font> {{misSol.solicitante.email}}</font>
                        <br>
                        <font size="4"><font size="3" color="grey">Cel: </font> {{misSol.solicitante.celular}}</font>
                        <br>
                        <img class="category" src="/assets/estrellas/{{misSol.solicitante.calificacion}}.png" width="200px" height="40px">
                        <br>
                        <font size="1">Número de opiniones: {{misSol.solicitante.numeroDeOpiniones}}</font>

                    </div>
                </div>



            </div>




            <br>
        </div>

    </div>
</div>